<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <nav class="nav-footer">
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="{% url 'home' %}">الرئيسية</a>
            </li>
            <li class="list-inline-item">
              <a  href="#about">عــــن كلـــــم</a>
            </li>
            <li class="list-inline-item">
              <a href="#why">لمـــاذا كلـــــم</a>
            </li>
            <li class="list-inline-item">
              <a  href="#say">قــــالــوا عنـــــــا</a>
            </li>
            <li class="list-inline-item">
              <a  type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal">الأخبــــار</a>
            </li>
            <li class="list-inline-item">
              <a href="{% url 'sessions' %}">الجلسات</a>
            </li>
          </ul>
        </nav>
        <div class="socials-a">
          <ul class="list-inline">
        
            <li class="list-inline-item">
              <a href="https://twitter.com/kalem_ll/status/1718733870248403094?s=46">
                <i class="fab fa-twitter-square"></i>
              </a>
            </li>
          
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-instagram-square"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="copyright-footer">
          <p class="copyright color-text-a">
            &copy; الحقوق
            <span class="">كلم</span> محفوظة.
          </p>
        </div>
      </div>
    </div>
  </div>

  
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">  أخبـــــار كلـــــم</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        نُطلق اليوم أخبار مثيرة لجميع عشاق المقاهي ومحبي الحوارات الثقافية والاجتماعية، حيث يسر موقع "كلم" الإعلان عن تخفيضات هائلة على جلسات الحوار المقامة في المقاهي المشهورة حول البلاد
        ‎إن تنوع المواضيع المطروحة في هذه الحوارات ينبض بالإبداع والثقافة، وهو ما يجعل هذه التخفيضات فرصة لا يمكن تفويتها لجميع المهتمين، والآن بفضل تخفيضات "كلم" الكبيرة، لا نحتاج إلى الانتظار المستعصي لحضور تلك الجلسات الرائعة
        
      </div>
    </div>
  </div>
</div>

</footer><!-- End  Footer -->