{% extends 'base.html' %}
{% load static %}
{% block body %}
<section class="bgcolor">
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="{{userphoto}}" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3">{{userfullName}}</h5>
              <p class="text-muted mb-1">
                <i class="fas fa-mobile-alt"></i>
                <span class="px-1">{{userphone_no}}</span>
            </p>
              <p class="text-muted mb-4"><i class="far fa-user"></i>
                <span class="px-1">{{userusername}}</span>
            </p>
              <div class="d-flex justify-content-center mb-2">
                <button type="button" class="btn bgcolor register ms-1" data-bs-toggle="modal" data-bs-target="#exampleModal">إضاف جلسة حوارية</button>
              </div>
            </div>
          </div>
        
        </div>
        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-sm-3">
                              <p class="mb-0">اسم المقهي</p>
                            </div>
                            <div class="col-sm-9">
                              <p class="text-muted mb-0">{{coffeeName}}</p>
                            </div>
                          </div>
                          <hr>
                          <div class="row">
                            <div class="col-sm-3">
                              <p class="mb-0">الوصف</p>
                            </div>
                            <div class="col-sm-9">
                              <p class="text-muted mb-0">{{coffeeDes}}</p>
                            </div>
                          </div>
                          <hr>
                          <div class="row">
                            <div class="col-sm-3">
                              <p class="mb-0">العنوان</p>
                            </div>
                            <div class="col-sm-9">
                              <p class="text-muted mb-0">{{coffeeaddresss}}</p>
                            </div>
                          </div>
                          <hr>
                        </div>
                      </div>
                </div>
                <div class="col-lg-4">
                    <div class="coffeeimage text-center">
                        <img src="{{coffeeimg}}" alt="coffeeimg" class="img-fluid ">
                        <p class="mb-4"><span class="color font-italic me-2">صورة</span>المقهي
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
          {%for session in Coffeesession %}
          <div class="col-md-4">
            <div class="card" style="width: 25rem;">
              <img src="{{session.img}}" class="card-img-top img-fluid" alt="coffee">
              <div class="card-body">
                <p class="card-text border-bottom">
                  <span><i class="fas fa-mug-hot"></i></span>
                  <span class="px-1">
                      اسم الجلسة
                  </span>
                  <span class="px-2"> {{session.name}}</span>
                 
                </p>
                <p class="card-text border-bottom">
                  <span><i class="far fa-sticky-note"></i></span>
                  <span class="px-1">وصف الجلسة</span>
                  <span class="px-2"> {{session.description}}</span>
                 
              </p>
              <p class="card-text border-bottom">
                <span><i class="far fa-money-bill-alt"></i></span>
                <span class="px-1">سعر الجلسة</span>
                <span class="px-2"> {{session.price}}</span>
               
            </p>
              <p class="card-text border-bottom">
                  <span><i class="fas fa-list"></i></span>
                  <span class="px-1">نوع الجلسة</span>
                  {%if session.type == "1" %}
                  <span class="px-2"> رياضة</span>
                  {%endif %}
                  {%if session.type == "2" %}
                  <span class="px-2"> ثقافة</span>
                  {%endif %}
                  {%if session.type == "3" %}
                  <span class="px-2">سياسة</span>
                  {%endif %}
                 
              </p>
              
               
                <a href="{%url 'deletesession' session.id %}" class="btn bgcolor register w-100  d-block ">حذف الجلسة</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">إضافة جلسة حوارية</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row d-flex justify-content-center">
                <div class="col-12">
                  <form method = "post"  action="{%url 'addcoffeesession'%}"  enctype="multipart/form-data">
                    {% csrf_token %}
                          <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="اسم الجلسة" name="sessionName">
                            <span class="input-group-text" ><i class="fas fa-mug-hot"></i></span>
                          </div>
                       
                          <div class="input-group mb-3">
                            <input type="textarea" class="form-control" placeholder="وصف الجلسة" name="sessionDescripion">
                            <span class="input-group-text" ><i class="far fa-sticky-note"></i></span>
                          </div>
                    
                          <div class="input-group mb-3">
                            <select class="form-select" id="inputGroupSelect02" name="sessionType">
                              <option selected>...نوع الجلسة</option>
                              <option value="1">رياضة</option>
                              <option value="2">ثقافة</option>
                              <option value="3">سياسة</option>
                            </select>
                            <label class="input-group-text" for="inputGroupSelect02"><i class="fas fa-list"></i></label>
                          </div>
                          <div class="input-group mb-3">
                            <input type="file"    required accept="image/*" class="form-control" id="simg" name="simg">
                            <label class="input-group-text" for="simg"><i class="far fa-images"></i></label>
                          </div>
                          <div class="input-group mb-3">
                            <input type="number" class="form-control" placeholder="سعر الجلسة" name="sessionPrice">
                            <span class="input-group-text" ><i class="far fa-money-bill-alt"></i></span>
                          </div>
                    {% if messages %}
                        {% for message in messages %}
                                <div class="py-2 my-2 alert {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}" role="alert">{{ message }}</div>
                        {% endfor %}
                    {% endif %} 
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn bgcolor register d-block  w-100 ">حفظ الجلسة</button>
            </div>
        </form>

        </div>
      
      </div>
    </div>
  </div>
    </div>
  </section>
{% endblock %}