{% extends 'base.html' %}
{% load static %}
{% block body %}
<section class="bgcolor">
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="{{userphoto}}" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3">{{userfullName}}</h5>
              <p class="text-muted mb-1">
                <i class="fas fa-mobile-alt"></i>
                <span class="px-1">{{userphone_no}}</span>
            </p>
              <p class="text-muted mb-4"><i class="far fa-user"></i>
                <span class="px-1">{{userusername}}</span>
            </p>

            </div>
          </div>
      
        </div>
        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card mb-4">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-sm-3">
                              <p class="mb-0">الأسم بالكامل</p>
                              <div class="my-3">
                                <button type="button" class="btn bgcolor register" data-bs-toggle="modal" data-bs-target="#exampleModal">إضاف تقييــم</button>
                              </div>
                            </div>
                            <div class="col-sm-9">
                              <p class="text-muted mb-0">{{userfullName}}</p>
                           
                            </div>
                          </div>  
                                       
                          </div>
                        </div>
                      </div>
                </div>
              
            </div>
          
         
        </div>
        <div class="row">
          {%for session  in sessions %}
          <div class="col-lg-4 col-md-4 d-flex align-items-stretch">
              <div class="card">
                  <img src="{{session.sessionimg}}" class="card-img-top img-fluid " alt="coffee">
                  <div class="card-body">
                    <h5 class="card-title">
                      <span><i class="fas fa-mug-hot"></i></span>
                      <span class="px-1">
                          اسم الجلسة
                      </span>
                      <span class="px-2"> {{session.sessionName}}</span>
                     
                  </h5>
                    <p class="card-text border-bottom">
                      <span><i class="far fa-sticky-note"></i></span>
                      <span class="px-1">وصف الجلسة</span>
                      <span class="px-2"> {{session.sessionDescription}}</span>
                     
                  </p>
                  <p class="card-text border-bottom">
                    <span><i class="far fa-money-bill-alt"></i></span>
                    <span class="px-1">سعر الجلسة</span>
                    <span class="px-2"> {{session.sessionprice}}</span>
                   
                </p>
                  <p class="card-text border-bottom">
                      <span><i class="fas fa-list"></i></span>
                      <span class="px-1">نوع الجلسة</span>
                      <span class="px-2"> {{session.sessionType}}</span>
                     
                  </p>
                  <p class="card-text border-bottom">
                      <span><i class="fas fa-file-signature"></i></span>
                      <span class="px-1">اسم المقهى</span>
                      <span class="px-2"> {{session.coffeeName}}</span>
                     
                  </p>
                  <p class="card-text border-bottom">
                      <span><i class="fas fa-map-marker-alt"></i></span>
                      <span class="px-1">عنوان المقهى</span>
                      <span class="px-2">{{session.coffeeaddress}}</span>
                     
                  </p>
                  <p class="card-text border-bottom">
                      <span><i class="fas fa-mobile-alt"></i></span>
                      <span class="px-1">هاتف المقهى</span>
                      <span class="px-2">{{session.phone_no}}</span>
                     
                  </p>
                  <p class="card-text border-bottom">
                      <span><i class="fas fa-calendar-alt"></i></span>
                      <span class="px-1">تاريخ الجلسة</span>
                      <span class="px-2">{{session.sessiondatetime}}</span>
                     
                  </p>
                   <form method="post" action="{% url 'deleteBook' %}">
                      {% csrf_token %}
                      <input value="{{session.sid}}" type="hidden" name="sessionID">
                      <button  class="btn bgcolor register w-100 d-block" type="submit">حذف الحجز</button>
                   </form>
                  </div>
                </div>
          </div>
          {%endfor%}
        </div>


              <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">إضافة تقييم</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="row d-flex justify-content-center">
              <div class="col-12">
                <form method = "post" action="{%url 'addtestimonial' %}">
                  {% csrf_token %}
                        <div class="input-group mb-3">
                          <textarea   class="form-control" placeholder="اكتب تقييــم" name="message"></textarea>

                          <span class="input-group-text" ><i class="far fa-sticky-note"></i></span>
                        </div>

                  {% if messages %}
                      {% for message in messages %}
                              <div class="py-2 my-2 alert {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}" role="alert">{{ message }}</div>
                      {% endfor %}
                  {% endif %} 
              </div>
          </div>
          <div class="modal-footer">
              <button type="submit" class="btn bgcolor register d-block  w-100 ">حفظ التقييــم</button>
          </div>
      </form>

      </div>
    
    </div>
  </div>
</div>
      </div>

    </div>
  </section>
{% endblock %}